<!DOCTYPE html>
<html>
	<head>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">

		google.charts.load("current", {packages:["corechart"]});
		google.charts.setOnLoadCallback(drawChart);
		function mt_rand (min, max) {
		var argc = arguments.length
		if (argc === 0) {
			min = 0
			max = 2147483647
		} else if (argc === 1) {
			throw new Error('Warning: mt_rand() expects exactly 2 parameters, 1 given')
		}
		return Math.floor(Math.random() * (max - min + 1)) + min
		}
		function dechex (d) {
		var hex = Number(d).toString(16)
		hex = '000000'.substr(0, 6 - hex.length) + hex
		return hex
		}
		function str_pad (str) {
		str += ''
		while (str.length < 3) {
			str = str + str
		}
		return str
		}

		function random_color_part () {
 	 	// return str_pad( dechex( mt_rand( 0, 255 ) ), 2, '0', 1);
 		 return mt_rand(0, 255)
			}
		function random_color () {
 		 return 'rgb(' + random_color_part() + ',' + random_color_part() + ',' + random_color_part() + ')'
		}
		
		function drawChart() {
			var data = google.visualization.arrayToDataTable([
				['Magnitude Range', 'Magnitude Count', { role: 'style' } ],
				{% for row in result %}
				[ '{{ row[0] }} to {{ row[0] + 1 }}'  , {{ row[1] }},random_color()],
				{% endfor %}
				]);

			var view = new google.visualization.DataView(data);
			view.setColumns([0, 1,
				{ calc: "stringify",
				sourceColumn: 1,
				type: "string",
				role: "annotation" },2]);

			var options = {
				title: "Earthquake Occurences by Magnitude",
				width: "50%",
				//color:['red','green','gray','blue','black','']
				hAxis: {
					title: 'Occurences',
					minValue: 0
				},
				vAxis: {
					title: 'Magnitude Ranges'
				},
				bar: {groupWidth: "80%"},
				
				// bars: 'horizontal', // Required for Material Bar Charts.
				axes: {
					x: {
						0: { side: 'top', label: 'Percentage'} // Top x-axis.
					},
				},
				legend: { position: "none" },
			};
			var chart = new google.visualization.BarChart(document.getElementById("bar_chart"));
			chart.draw(view, options);
		}
	</script>
	</head>
	<h1>2) Bar Chart</h1>
	<h1> Aby Cyriac</h1>
	<h1> 1001726541</h1>

	<div id="bar_chart" style="max-width: 50%; height: 50%;"></div>


</html>