<html>
<head>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {
			var pieData = google.visualization.arrayToDataTable([
				['Magnitude', 'Occurences'],
				{% for row in result %}
				[ '{{ row[0] }} to {{ row[0] + 1 }}'  , {{ row[1] }} ],
				{% endfor %}
				])
			var pieOptions = {
				title: 'Earthquake Occurences by Magnitude',
				width: 1200,
			};
			var pieChart = new google.visualization.PieChart(document.getElementById('piechart'));
			pieChart.draw(pieData, pieOptions);

		}

</script>
</head>
<body>
	<h1>ABY CYRIAC</h1>
    <h1>1001726541</h1>
	<h1>1) Pie Chart</h1>
	<div id="piechart" style="width: 800px; height: 400px;"></div>
</body>
</html>